/**
 * Copyright © 2022 siddharth ravikumar <s@ricketyspace.net>
 * SPDX-License-Identifier: ISC
 */

/** peach **/
@font-face {
  font-family: Roboto;
  src: url('/static/font/RobotoFlex-Regular.ttf');
  font-display: swap;
}

body {
    font-family: Roboto, sans-serif;
    text-transform: lowercase;
}

.peach {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.root-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (min-width: 440px)  {
    .root-container {
	width: 440px;
    }
}

@media (max-width: 440px)  {
    .peach {
	flex-direction: column;
    }
}

/** weather **/
.header-container,
.main-container {
    display: flex;
    justify-content: center;
}

.header-container h1 {
    margin: 0;
}

.header {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.5em;
}

.period-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.now-container {
    display: flex;
    flex-direction: column;
}

.temperature-forecast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature-forecast-container .temperature {
    font-size: 2.8em;
}

.temperature-forecast-container .forecast {
    font-size: 1.8em;
    font-weight: 500;
    color: rgb(90,90,90);
    text-align: center;
}

.wind-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    color: rgb(90,90,90);
}

.timeline-container {
    display: flex;
    justify-content: center;
}

.periods-container {
    width: 440px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.periods-container .period  .temperature {
    font-size: 1.2em;
}

.periods-container .period  .hour {
    font-size: 0.8em;
    color: rgb(150,150,150)
}

.search-link-container {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 1.5em;
    font-weight: 900;
    transform: rotate(-45deg);
}

.search-link-container a {
    text-decoration: none;
    color: rgb(0,0,0);
}

/** search **/
.search-container .search-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

@media (max-width: 440px)  {
    .search-container .search-form {
	justify-content: flex-start;
	flex-wrap: wrap;
	row-gap: 5px;
    }
}

.search-container .search-form  .search-box .location {
    font-size: 1.5em;
    border: 0;
}

.search-container .search-form  .search-box .location:focus-within {
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(0,0,0);
}

.search-container .search-form  .search-box .location::placeholder {
    color: rgb(240,240,240);
    font-weight: 900;
}

.search-container .search-form  .btn-block .search-btn {
    cursor: pointer;
    border: none;
    background-color: rgb(0 0 0);
    color: rgb(255 255 255);
    font-size: 1.3em;
    padding: 3px 10px 3px 10px;
    border-radius: 8px;
    font-weight: 900;
}

.message-container {
    font-size: 1.2em;
}

.message-container p {
    margin: 5px 0 5px 0;
    padding: 0 0 0 5px;
}

.search-result-container {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.search-result-container  .item {
    font-size: 1.5em;
}

.search-result-container  .location-name a {
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight: 600;
    padding: 3px 5px 5px 5px;
}

.search-result-container .location-name a:hover {
    transition: background-color 0.3s linear;
    background-color: rgb(245,245,245);
}
