<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head.tmpl" . }}
	</head>
	<body>
		<div class="peach">
			<div class="root-container">
				<div class="about-container">
					<div class="header">
						<h1>peach</h1>
						<p>v{{ .Version }}</p>
					</div>
					<div class="content">
						<p>Peach's a barebones weather service.</p>

						<p>
							Forecast data and weather alerts are from
							<a href="//weather.gov">weather.gov</a>.
						</p>
					</div>
				</div> <!-- about-container end -->

				<div class="terms-container">
					<div class="header">
						<h2>terms</h2>
					</div>
					<div class="content">
						<p>
							It is licensed under the
							<a href="//git.ricketyspace.net/peach/tree/LICENSE">ISC license</a>. Your
							use of this service indicates an implicit
							agreement to the terms of this license.</p>
					</div>
				</div> <!-- terms-container end -->

				<div class="privacy-container">
					<div class="header">
						<h2>privacy</h2>
					</div>
					<div class="content">
						<p>Peach does not use cookies. It does not
						    track you.</p>
					</div>
				</div> <!-- privacy-container end -->

				{{ template "footer.tmpl" "/" }}

			</div> <!-- root-container end -->
		</div> <!-- peach end -->
	</body>
</html>
