<div class="footer-container">
	<div class="footer">
		<div class="logo-container">
			<a href="/about">
				<img src="/static/logo/peach-180.png" alt="[ peach logo ]" />
			</a>
		</div>
	</div>
</div> <!-- footer container end -->
