<div class="footer-container">
	<div class="footer">
		<div class="logo-container">
			<a href="{{ . }}">
				<img src="/static/logo/peach-v2-180.png"
					width="20" height="20" alt="[ peach logo ]" />
			</a>
		</div>
	</div>
</div> <!-- footer container end -->
