<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head.tmpl" . }}
	</head>
	<body>
		<div class="peach">
			<div class="root-container">

				<div class="search-container">
					<form method="post" class="search-form">
						<div class="search-box">
							<input type="text"  class="location" placeholder="us city"
								value="{{ .Location }}" name="location" required>
						</div>
						<div class="btn-block">
							<input type="submit" class="search-btn" value="search">
						</div>
					</form>
				</div>

				{{ if .Message }}
				<div class="message-container">
					<div class="message-block">
						<p>{{ .Message }}</p>
					</div>
				</div>
				{{ end }}

				{{ if .MatchingCoords }}
				<div class="search-result-container">
					{{ range .MatchingCoords }}
					<div class="item">
						<div class="location-name">
							<a href="/{{ printf "%.4f,%.4f" .Lat .Lng }}">{{ .Name }}</a>
						</div>
					</div>
					{{ end }}
				</div>
				{{ end }}

			</div> <!-- root-container end -->
		</div> <!-- peach end -->
	</body>
</html>
