<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>peach - {{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="siddharth ravikumar">
		<link rel="preload" href="/static/peach.css" as="style" />
		<style>@import url("/static/peach.css");</style>
	</head>
	<body>
		<div class="peach">
			<div class="root-container">
				<div class="header-container">
					<header class="header">
						<hgroup>
							<h1>{{.Location}}</h1>
						</hgroup>
					</header>
				</div>

				<div class="main-container">
					<div class="period-container">
						<div class="now-container">
							<div class="temperature-forecast-container">
								<div class="temperature">
									{{.Now.Temperature}}{{.Now.TemperatureUnit}}
								</div>
								<div class="forecast">
									{{.Now.Forecast}}
								</div>
							</div> <!-- temperature-forecast-container -->

							<div class="wind-container">
								<div class="prop">
									Wind
								</div>
								<div class="value">
									{{.Now.WindSpeed}} {{.Now.WindDirection}}
								</div>
							</div> <!-- wind-container end -->
						</div> <!-- now-container end -->

						<div class="current-period-container">
							<div class="forecast">{{.Period.Forecast}}</div>
						</div>
					</div> <!-- period-container end -->
				</div>  <!-- main-container end -->

				{{ if .Timeline }}
				<div class="timeline-container">
					<div class="periods-container">
						{{ range .Timeline.Periods }}
						<div class="period">
							<div class="temperature">
								{{.Temperature}}{{.TemperatureUnit}}
							</div>
							<div class="hour">
								{{printf "%d" .Hour}}hrs
							</div>
						</div>
						{{ end }}
					</div>
				</div>
				{{ end }}

				<div class="search-link-container">
					<a href="/search">
						➤
					</a>
				</div>
			</div> <!-- root-container end -->
		</div> <!-- peach end -->
	</body>
</html>
