<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>peach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="siddharth">
    <link rel="preload" href="/static/peach.css" as="style" />
    <style>@import url("/static/peach.css");</style>
</head>
<body>
  <div class="peach-container">
    <div class="location block">
      <p>{{.Location}}</p>
    </div>

    <div class="summary">
      <div class="now">
	<p class="forecast">{{.Now.Forecast}}</p>
	<p class="tempature">{{.Now.Temperature}}{{.Now.TemperatureUnit}}</p>
	<p class="wind">{{.Now.WindSpeed}} {{.Now.WindDirection}}</p>
      </div>
      <div class="current-period">
	<p class="forecast">{{.Period.Forecast}}</p>
      </div>
    </div>

    {{ if .Timeline }}
    <div class="timeline">
      <div class="container">
	{{ range .Timeline.Periods }}
	<div class="period">
	  <p class="temperature">{{.Temperature}}{{.TemperatureUnit}}</p>
	  <p class="hour">{{printf "%d" .Hour}}hrs</p>
	</div>
	{{ end }}
      </div>
    </div>
    {{ end }}

  </div>
</body>
