<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head.tmpl" . }}
	</head>
	<body>
		<div class="peach">
			<div class="root-container">
				<div class="header-container">
					<header class="header">
						<hgroup>
							<h1>{{.Location}}</h1>
						</hgroup>
					</header>
				</div>

				<div class="main-container">
					<div class="period-container">
						<div class="now-container">
							<div class="temperature-forecast-container">
								<div class="temperature">
									{{.Now.Temperature}}{{.Now.TemperatureUnit}}
								</div>
								<div class="forecast">
									{{.Now.Forecast}}
								</div>
							</div> <!-- temperature-forecast-container -->

							<div class="wind-container">
								<div class="prop">
									Wind
								</div>
								<div class="value">
									{{.Now.WindSpeed}} {{.Now.WindDirection}}
								</div>
							</div> <!-- wind-container end -->
						</div> <!-- now-container end -->

					</div> <!-- period-container end -->
				</div>  <!-- main-container end -->

				{{ if .Q2HTimeline }}
				<div class="timeline-container">
					<div class="periods-container">
						{{ range .Q2HTimeline.Periods }}
						<div class="period">
							<div class="temperature">
								{{.Temperature}}{{.TemperatureUnit}}
							</div>
							<div class="hour">
								{{printf "%d" .Hour}}hrs
							</div>
						</div>
						{{ end }}
					</div>
				</div>
				{{ end }}


				{{ if .Alerts }}
				<div class="alerts-container">
					{{ range .Alerts }}
					<div class="alert-container">
						<div class="alert-header">
							<div class="event-name">
								<span>{{ .Event }}</span>
							</div>
						</div>
						<div class="alert-body">
							<div class="severity">
								<p>Severity &mdash; {{ .Severity }}</p>
							</div>
							<div class="description">
								{{ range $p := .Description }}
								<p>{{ $p }}</p>
								{{ end }}
							</div>
							<div class="instruction">
								{{ range $p := .Instruction }}
								<p>{{ $p }}</p>
								{{ end }}
							</div>
						</div>
					</div>
					{{ end }}
				</div>
				{{ end }}

				{{ if .BiDailyTimeline }}
				<div class="bd-timeline-container">
					<div class="periods-container">
						{{ range .BiDailyTimeline.Periods }}
						<div class="period">
							<div class="name">
								{{ .Name }}
							</div>
							<div class="temperature">
								{{.Temperature}}{{.TemperatureUnit}}
							</div>
							<div class="forecast">
								{{ .Forecast }}
							</div>
						</div>
						{{ end }}
					</div>
				</div>
				{{ end }}

				{{ if .SearchEnabled }}
				<div class="search-link-container">
					<a href="/search">
						➤
					</a>
				</div>
				{{ end }}

				<div class="footer-container">
					<div class="footer">
						<div class="logo-container">
							<a href="/about">
								<img src="/static/logo/peach.png" alt="[ peach logo]" />
							</a>
						</div>
					</div>
				</div> <!-- footer container end -->

			</div> <!-- root-container end -->
		</div> <!-- peach end -->
	</body>
</html>
